<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf8"/>
    <base href="/"/>
    <title><%= title%></title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<h1><%= title%></h1>

<div ng-controller="AppCtrl">
    <h2>Hello {{name}}</h2>
    <ul class="menu">
        <li><a href="#/view1">view1</a></li>
        <li><a href="#/view2">view2</a></li>
        <li><a href="#/view3">view3</a></li>
    </ul>
    <div ng-view="ng-view"></div>
    <div>Angular seed app: v: <span app-version="app-version"></span></div>
</div>

<script src="vendor/angular/angular.js"></script>
<script src="vendor/angular-route/angular-route.js"></script>
<script src="app/app.js"></script>
<script src="app/view1/view1.js"></script>
<script src="app/view2/view2.js"></script>
<script src="app/view3/view3.js"></script>
<script src="app/components/controllers.js"></script>
<script src="app/components/version/version.js"></script>
<script src="app/components/version/version-directive.js"></script>
<script src="app/components/version/interpolate-filter.js"></script>
</body>
</html>